@mixin inverse {
  background: $color-dark;
  color: $color-light;
}

@mixin shadow {
  box-shadow: 0px 0px 10px 0 opacity($color-dark, 0.33);
}

@mixin dontTouch {
  pointer-events: none;
  user-select: none;
  text-decoration: none;
}


@mixin button {
  display: block;
  padding: $gap-medium;
  color: $color-dark;
  // font-weight: bold;
  transition: 0.15s box-shadow;
  cursor: pointer;

  border-radius: 0.33em;

  &:hover {
    @include shadow;

    &:active {
      @include inverse;
    }
  }

  &:focus {
    @include inverse;
    @include shadow;
  }
}

